html, body { font-family:sans-serif; font-size:16px }

#page { min-width:1000px; padding:0.4em }

#message { position:fixed; bottom:0; right:40px; width:12em }
.message { margin-bottom:0; margin-top:1em }
.spinner { background:url(../images/spinner.gif) 50% 50% no-repeat transparent; height:32px; width:32px; padding:3px; position:fixed; right:0; bottom:0; text-indent:-9999px }

#toolbar { padding:0.5em; position:relative; height:45px }
#toolbar > * { display:inline-block }
#toolbar .slider { padding:0 1.5em; width:8em; text-align:center; vertical-align:middle; margin-top:-1em }
#toolbar .slider .value { margin-bottom:0.7em; font-size:0.8em; color:#555 }
#toolbar .slider .ui-slider-handle { width:2em; height:2em; top:-0.7em; margin-left:-1em; cursor:pointer }
#toolbar .slider .ui-slider { background-color:#FFF; cursor:pointer }
#toolbar #menu-container { position:absolute; top:0.5em; right:0.5em}
/*#select-songbook-container label { float:left }*/
.query { font-size:1.1em !important }

#content { position:relative; font-size:20px }
#content #home { text-align:center }
#content #home #logo { margin:1em 0; font-size:6em; color:#555; font-variant:small-caps }

#searchresult .stats { font-size:0.5em; color:#999; margin-bottom:5px }
#searchresult .hit { padding-bottom:0.5em }
#searchresult .hit .author { color:#5A5; font-size:0.7em }
.searchhint { font-size:0.8em; opacity:0.5 }

#song { white-space:pre; font-family:monospace; height:50em; width:98.5%; font-size:1.3em; ; line-height:1.2em }
.songview { word-wrap:break-word; line-height:1.2em;
	-moz-column-rule:4px solid #F5F5F5; -webkit-column-rule:4px solid #F5F5F5; column-rule:4px solid #F5F5F5;
}
.songview h1 { color:#7A93BE; line-height:1em; font-size:1.5em }
.songview h2 { color:#7A93BE; line-height:1em; font-size:1.2em }
.songview .verse { margin-bottom:1em }
.songview .chorus { border-radius:5px; border:2px solid #888; padding:0.5em 0.5em 1em 0.5em; margin-bottom:2em }
.songview .chorus, .songview .chorus .lyrics span.fragment { background-color:#F5F5F5 }
.songview .chorus, .songview .line { column-break-inside:avoid; -webkit-column-break-inside:avoid; -moz-column-break-inside:avoid; -o-column-break-inside:avoid; -ms-column-break-inside:avoid }
.songview .comment { font-style:italic; border-radius:5px; border:2px solid #880; background-color:#FFA; padding:0.5em; margin:0 1em 1em 0; display:inline-block }
.songview .tabs { font-size:0.8em; margin-bottom:2em; white-space:pre-wrap }
.songview .chord-definition { display:inline-block; width:4em; height:6em; margin:0 1em 1em 0; opacity:0.6 }

.songview .line { display:table }
.songview .lyrics, .songview .chords { display:table-row }
.songview .lyrics > span, .songview .chords > span { display:table-cell; white-space:pre }
.songview .chords > span { padding-right:0.5em; font-size:0.8em; color:#444 }
.songview .lyrics > span { position:relative }
.songview .lyrics span.sep { display:block; width:100%; position:absolute; margin-top:0.9em; z-index:-1; height:2px }
.songview .lyrics > span:not(:last-child) span.sep { border-top:0.08em solid black }

