html, body { font-family:sans-serif; font-size:16px }

#page { min-width:1000px; padding:0.4em }

#message { position:fixed; right:0.4em; bottom:0.4em; width:12em }
.message { margin-bottom:0; margin-top:1em }
.spinner { background:url(../images/spinner.gif) 50% 50% no-repeat transparent; height:32px; width:32px; padding:2px; position:fixed; right:0.4em; bottom:0.4em; text-indent:-9999px; z-index:1 }

#toolbar { padding:0.5em; position:relative; height:45px }
#toolbar > * { display:inline-block }
#toolbar .slider { padding:0 1.5em; width:8em; text-align:center; vertical-align:middle; margin-top:-1em }
#toolbar .slider .value { margin-bottom:0.7em; font-size:0.8em; color:#555 }
#toolbar .slider .ui-slider-handle { width:2em; height:2em; top:-0.7em; margin-left:-1em; cursor:pointer }
#toolbar .slider .ui-slider { background-color:#FFF; cursor:pointer }
#toolbar #menu-container { position:absolute; top:0.5em; right:0.5em }
#toolbar #menu-container button { padding-left:11px; padding-right:11px }
.query { font-size:1.1em !important }

#content { font-size:1.2em }
#content #home { text-align:center }
#content #home #logo { margin:1em 0; font-size:6em; color:#555; font-variant:small-caps }

#searchresult .stats { font-size:0.7em; color:#333; margin-bottom:1em }
#searchresult .hit { padding-bottom:1em }
#searchresult .hit .author { color:#093; font-size:0.7em }
#searchresult .hit .fragment { color:#333; font-size:0.7em }
.searchhint { font-size:0.8em; opacity:0.5 }

#song { white-space:pre; font-family:monospace; position:absolute; width:97%; top:80px; left:0.4em; right:0.4em; bottom:0; font-size:1.1em; line-height:1em }
.songview { word-wrap:break-word; line-height:1.2em;
	-moz-column-rule:0.2em solid #F5F5F5; -webkit-column-rule:0.2em solid #F5F5F5; column-rule:0.2em solid #F5F5F5;
}
.songview h1 { color:#04C; line-height:1em; font-size:1.5em }
.songview h2 { color:#333; line-height:1em; font-size:1.2em }
.songview .verse { margin-bottom:1em }
.songview .chorus { border-radius:0.5em; border:0.15em solid #888; padding:0.5em 0.5em 1em 0.5em; margin-bottom:2em }
.songview .chorus, .songview .chorus .lyrics span.fragment { background-color:#F5F5F5 }
.songview .chorus, .songview .line { column-break-inside:avoid; -webkit-column-break-inside:avoid; -moz-column-break-inside:avoid; -o-column-break-inside:avoid; -ms-column-break-inside:avoid }
.songview .comment { font-style:italic; border-radius:0.5em; background-color:#FFA; padding:0.5em; margin:0 1em 1em 0; display:inline-block }
.songview .tabs { font-size:0.8em; margin-bottom:2em; white-space:pre-wrap; border:none; background:inherit }
.songview .chord-definition { display:inline-block; width:4em; height:6em; margin:0 1em 1em 0; opacity:0.8 }

.songview .line { display:table }
.songview .chords { line-height:0.8em }
.songview .lyrics, .songview .chords { display:table-row }
.songview .lyrics > span, .songview .chords > span { display:table-cell; white-space:pre }
.songview .chords > span { padding-right:0.5em; font-size:0.8em; color:#444 }
.songview .lyrics > span { position:relative }
.songview .lyrics span.sep { display:block; width:100%; position:absolute; margin-top:0.9em; z-index:-1; height:2px }
.songview .lyrics > span:not(:last-child) span.sep { border-top:0.08em solid #333 }
.songview .lyrics span.fragment { background-color:#FFF }
