@import url("song.css");

html, body { font-family:sans-serif; font-size:16px }
a { color:#04C }
ul.dropdown-menu li { margin-bottom:0.5em }

#page { min-width:1000px; padding:0.4em }
#message { position:fixed; right:0.4em; bottom:0.4em; width:12em }
.message { margin-bottom:0; margin-top:1em }
.message a { color:inherit; text-decoration:underline }
.spinner { background:url(../images/spinner.gif) 50% 50% no-repeat transparent; height:90px; width:90px; padding:2px; position:fixed; right:0.4em; bottom:0.4em; text-indent:-9999px; z-index:1 }
.small { font-size:0.8em }

#toolbar { padding:0.5em; position:relative; height:45px }
#toolbar:not(.well) { border:1px solid transparent }
#toolbar > * { display:inline-block }
#toolbar .slider { padding:0 1.5em; width:8em; text-align:center; vertical-align:middle; margin-top:-1em }
#toolbar .slider .value { margin-bottom:0.7em; font-size:0.8em; color:#555 }
#toolbar .slider .ui-slider-handle { width:2em; height:2em; top:-0.7em; margin-left:-1em; cursor:pointer }
#toolbar .slider .ui-slider { background-color:#FFF; cursor:pointer }
#toolbar .query { width:10em }
#toolbar #menu-container { position:absolute; top:0.5em; right:0.5em }
#toolbar #menu-container button { padding-left:11px; padding-right:11px }
#toolbar #menu-container .dropdown-menu a { cursor:pointer }
.query { font-size:1.1em !important; margin:0 !important }

#content { font-size:1.2em }
#content #home { text-align:center }
#content #home #logo { margin:1em 0; font-size:6em; color:#555; font-variant:small-caps }
#content #home .query { width:15em }

#searchresult .stats, #songbook-songs-container .stats { font-size:0.7em; color:#333; margin-bottom:1em }
#searchresult .hit, #songbook-songs-container .song { padding-bottom:0.5em }
#searchresult .hit .author, #songbook-songs-container .song .author { color:#093; font-size:0.7em }
#searchresult .hit .fragment { color:#333; font-size:0.7em }
.searchhint { font-size:0.8em; opacity:0.5 }

#song { white-space:pre; font-family:monospace; position:absolute; width:97%; top:80px; left:0.4em; right:0.4em; bottom:0; font-size:1.1em; line-height:1em }

#songbook { display:table; width:100%; border-spacing:1em }
#songbook > div { display:table-row }
#songbook > div > div { display:table-cell; border:1px solid #E5E5E5; border-radius:6px; padding:0.5em }
#songbook > div > div:not(:first-child) { width:10em; background-color:#F5F5F5 }
#songbook .songbook-export-controls button { display:block; margin:0.8em auto; white-space:nowrap }
#songbook .songbook-export-controls button.loading img { background-image:url(../images/spinner-small.gif); background-position:center; background-repeat:no-repeat; width:32px; display:inline-block; padding:32px 0 0 0; height:0 }

#select-songbook-container select { width:100% }

#import-backup-form label { display:inline }