@import url("song.css");

html, body { font-family:sans-serif; font-size:16px }
a { color:#04C }

#page { min-width:1000px; padding:0.4em }
#message { position:fixed; right:0.4em; bottom:0.4em; width:12em }
.message { margin-bottom:0; margin-top:1em }
.spinner { background:url(../images/spinner.gif) 50% 50% no-repeat transparent; height:32px; width:32px; padding:2px; position:fixed; right:0.4em; bottom:0.4em; text-indent:-9999px; z-index:1 }

#toolbar { padding:0.5em; position:relative; height:45px }
#toolbar:not(.well) { border:1px solid transparent }
#toolbar > * { display:inline-block }
#toolbar .slider { padding:0 1.5em; width:8em; text-align:center; vertical-align:middle; margin-top:-1em }
#toolbar .slider .value { margin-bottom:0.7em; font-size:0.8em; color:#555 }
#toolbar .slider .ui-slider-handle { width:2em; height:2em; top:-0.7em; margin-left:-1em; cursor:pointer }
#toolbar .slider .ui-slider { background-color:#FFF; cursor:pointer }
#toolbar .query { width:10em }
#toolbar #select-songbook-container { text-align:center }
#toolbar #select-songbook-container label { font-size:0.8em; color:#555 }
#toolbar #menu-container { position:absolute; top:0.5em; right:0.5em }
#toolbar #menu-container button { padding-left:11px; padding-right:11px }
#toolbar #menu-container .dropdown-menu a { cursor:pointer }
.query { font-size:1.1em !important }

#content { font-size:1.2em }
#content #home { text-align:center }
#content #home #logo { margin:1em 0; font-size:6em; color:#555; font-variant:small-caps }
#content #home .query { width:15em }

#searchresult .stats { font-size:0.7em; color:#333; margin-bottom:1em }
#searchresult .hit { padding-bottom:1em }
#searchresult .hit .author { color:#093; font-size:0.7em }
#searchresult .hit .fragment { color:#333; font-size:0.7em }
.searchhint { font-size:0.8em; opacity:0.5 }

#song { white-space:pre; font-family:monospace; position:absolute; width:97%; top:80px; left:0.4em; right:0.4em; bottom:0; font-size:1.1em; line-height:1em }
