<button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
	<i class="icon-wrench icon-white"></i> <span class="caret"></span>
</button>
<ul class="dropdown-menu pull-right">
	<li class="nav-header">Song</li>
	<li><a href="song/new"><i class="icon-asterisk"></i> New &hellip;</a></li>
	<li data-views="song" data-display="display" data-display-on="list-item"><a href="#deleteDialog" class="internal" data-toggle="modal"><i class="icon-remove"></i> Delete</a></li>
	<li data-views="song" data-display="display" data-display-on="list-item"><a id="menu-song-export"><i class="icon-download"></i> Export</a></li>
	<li class="divider" data-views="song" data-display="display" data-display-on="list-item"></li>
	<li id="menu-song-add-remove-container" data-views="song" data-display="display" data-display-on="list-item"><a id="menu-song-add-remove"><i class="icon-plus"></i> Add to songbook</a></li>
	<li class="divider"></li>
	<li class="nav-header">Songbook</li>
	<li><a href="songbook/new"><i class="icon-asterisk"></i> New &hellip;</a></li>
<!-- 
	<li class="dropdown-submenu pull-left"><a><i class="icon-book"></i> Select</a>
		<ul class="dropdown-menu">
			<li><label class="checkbox"> <input type="checkbox"> Check me out
			</label></li>
			<li>sub 2</li>
		</ul>
	</li>
-->
	<li><a id="menu-songbook-manage"><i class="icon-book"></i> Manage &hellip;</a></li>
</ul>

<!-- modal delete confirmation dialog -->
<div id="deleteDialog" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		 <button type="button" class="close" data-dismiss="modal">×</button>
		 <h3>Please confirm</h3>
	</div>
	<div class="modal-body">
		 <p>Do you really want to delete this song?</p>
		 <p>It will be deleted from the database, not just from your songbook.</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<button id="deleteButton" class="btn btn-primary" data-dismiss="modal">Yes, delete it!</button>
	</div>
</div>
