<button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
	<i class="icon-wrench icon-white"></i> <span class="caret"></span>
</button>
<ul class="dropdown-menu pull-right">
	<li class="nav-header">Song</li>
	<li id="menu-song-create"><a><i class="icon-asterisk"></i> New &hellip;</a></li>
	<li id="menu-song-delete"><a><i class="icon-remove"></i> Delete</a></li>
	<li class="divider"></li>
	<li id="menu-song-add" class="disabled"><a><i class="icon-plus"></i> Add to songbook</a></li>
	<li class="divider"></li>
	<li class="nav-header">Songbook</li>
	<li id="menu-songbook-create"><a><i class="icon-asterisk"></i> New &hellip;</a></li>
	<li class="dropdown-submenu pull-left"><a><i class="icon-book"></i> Select</a>
		<ul class="dropdown-menu">
			<li><label class="checkbox"> <input type="checkbox"> Check me out
			</label></li>
			<li>sub 2</li>
		</ul>
	</li>
	<li id="menu-songbook-edit"><a><i class="icon-pencil"></i> Edit &hellip;</a></li>
	<li id="menu-songbook-export"><a><i class="icon-download"></i> Export</a></li>
</ul>
