<div id="songbook">
	<div>
		<div>
			<fieldset>
				<legend>
					Metadata
				</legend>
				<p><label for="name">Name:</label><input type="text" id="name" value="<%= songbook.get("name") %>" placeholder="Some descriptive name..."></p>
				<p><label for="author">Author:</label><input type="text" id="author" value="<%= songbook.get("author") %>" placeholder="Your name..."></p>
				<p>
					<label for="format">Format:</label>
					<select id="format">
						<option value="A4"<%= songbook.get("format") == "A4" ? " selected='selected'" : "" %>>A4 (portrait)</option>
						<option value="A4L"<%= songbook.get("format") == "A4L" ? " selected='selected'" : "" %>>A4 (landscape)</option>
						<option value="A5"<%= songbook.get("format") == "A5" ? " selected='selected'" : "" %>>A5 (portrait)</option>
						<option value="A5L"<%= songbook.get("format") == "A5L" ? " selected='selected'" : "" %>>A5 (landscape)</option>
					</select>
				</p>
				<%
				if (songbook.get("id")) {
				%>
				<a href="#songbookDeleteDialog" class="btn btn-mini btn-danger internal" style="float:right" data-toggle="modal"><i class="icon-remove icon-white"></i> Delete songbook</a>
				<%
				}
				%>
			</fieldset>
		</div>
		<%
		if (songbook.get("id")) {
		%>
		<div>
			<fieldset>
				<legend>
					<img src="<%=contextPath%>images/pdf.png" alt=""/>
					PDF
				</legend>
				<p class="small">The generated PDF is stored in the database. You only need to re-generate it if there were changes since last time.</p>
				<div class="songbook-export-controls">
					<button id="button-export" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Export</button>
				</div>
			</fieldset>
		</div>
		<%
		}
		%>
	</div>
</div>
<!-- modal delete confirmation dialog -->
<div id="songbookDeleteDialog" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		 <button type="button" class="close" data-dismiss="modal">×</button>
		 <h3>Please confirm</h3>
	</div>
	<div class="modal-body">
		 <p>Do you really want to delete this songbook?</p>
		 <p>The songs contained will be kept in the database.</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<button id="songbookDeleteButton" class="btn btn-primary" data-dismiss="modal">Yes, delete it!</button>
	</div>
</div>
