<a href="" class="btn btn-large btn-inverse" data-views='["search","song", "songbook"]'><i class="icon-home icon-white"></i></a>
<button id="button-edit" class="btn btn-large btn-primary" data-views='["song", "songbook"]'><i class="icon-white"></i></button>
<div class="slider" data-views="song" data-name="Columns" data-model="columns" data-value="2" data-min="1" data-max="3" data-step="1"></div>
<div class="slider" data-views="song" data-name="Zoom"data-model="zoom" data-value="1.0" data-min="0.5" data-max="1.5" data-step="0.1"></div>
<span class="query-container"></span>
<span id="select-songbook-container2"></span>
<span id="menu-container"></span>
