<div id="toolbar">
	<span><a href="" class="button" data-icon="ui-icon-home" data-views='["search","song", "songbook"]'>Home</a></span>        
	<span><button id="button-edit" class="button" data-icon="ui-icon-pencil" data-views='["song", "songbook"]'>Edit</button></span>
	<div class="slider" data-views="song" data-name="Columns" data-model="columns" data-value="2" data-min="1" data-max="3" data-step="1"></div>
	<div class="slider" data-views="song" data-name="Font size"data-model="fontsize" data-value="1.0" data-min="0.5" data-max="1.5" data-step="0.1"></div>
	<span class="query-container"></span>
	<span id="select-songbook-container" />
	<span id="menu-container"></span>
</div>